# Declaring a variable

In [2]:
#Number
a=10

In [8]:
#string
b="abcdef"

# List

In [10]:
#List
# List items are ordered, changeable, and allow duplicate values.
#When we say that lists are ordered, it means that the items have a defined order, and that order will not change.



a= ["1",2,{1,2,3},(1,5,4),{1:"2",2:"asdas"},[5,6,7]]

In [5]:
a[3]

(1, 5, 4)

In [6]:
a[5][0]="abc"

In [7]:
a

['1', 2, {1, 2, 3}, (1, 5, 4), {1: '2', 2: 'asdas'}, ['abc', 6, 7]]

# List Comprehension

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [14]:
#Sorting List
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
# thislist.sort(reverse = True) for descending
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [16]:
# List Copy
mylist = a.copy()
mylist

['1', 2, {1, 2, 3}, (1, 5, 4), {1: '2', 2: 'asdas'}, [5, 6, 7]]

In [17]:
a[0]="new1"

In [18]:
a

['new1', 2, {1, 2, 3}, (1, 5, 4), {1: '2', 2: 'asdas'}, [5, 6, 7]]

In [19]:
mylist

['1', 2, {1, 2, 3}, (1, 5, 4), {1: '2', 2: 'asdas'}, [5, 6, 7]]

In [20]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list4 = list2 + list1

list3
list4

[1, 2, 3, 'a', 'b', 'c']

In [21]:
list3

['a', 'b', 'c', 1, 2, 3]

# Tuples

In [22]:
# A tuple is a collection which is ordered and unchangeable.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [23]:
#. Tuple items are indexed,
thistuple[0]

'apple'

In [24]:
# Change Tuple Values.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Set

In [26]:
# Set items are unordered, unchangeable, and do not allow duplicate values.
#Set items are unchangeable, meaning that we cannot change the items after the set has been created.
#Once a set is created, you cannot change its items, but you can remove items and add new items.

In [27]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [28]:
thisset.add("orange")

In [30]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [32]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical) //  merge two sets

In [39]:
mylist = ["kiwi", "orange",1]

thisset.update(mylist)
thisset

{1,
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'mango',
 'orange',
 'papaya',
 'pineapple'}

In [40]:
thisset

{1,
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'mango',
 'orange',
 'papaya',
 'pineapple'}

In [41]:
thisset.remove("banana")
thisset

{1, 'apple', 'cherry', 'kiwi', 'mango', 'orange', 'papaya', 'pineapple'}

# Dictionaries

In [47]:
#Dictionaries are used to store data values in key:value pairs.

#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [48]:
x = thisdict.get("model")
y = thisdict.keys()

In [49]:
print(x)
print(y)

Mustang
dict_keys(['brand', 'model', 'year'])

In [50]:
type(y)

dict_keys

In [52]:
for x in y:
    print(x)

brand
model
year

In [53]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [54]:
for x in thisdict:
  print(x)

brand
model
year

In [56]:
for x in thisdict:
  print(thisdict[x])

for x in thisdict.values():
  print(x)

Ford
Mustang
1964
Ford
Mustang
1964

In [57]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [58]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [59]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}